/* Potential Colours
   #F2E4EE
   #B8C0D9
   #607EA6
   #012840
   #F28F79 */
body {
  background-color: #e9eff1;
}
footer {
  background-color: #c8dbe2;
  padding: 10px 23px;
  color: #000000;
  text-align: center;
  font-style: italic;
  /* margin: 20px 10px 10px 0; */
}
header {
  display: flex;
  background-color: #c8dbe2;
}
/*--------------- Navagation -----------------*/
nav {
  margin: auto auto auto 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
nav ul li {
  padding: 0px;
  border-bottom: none;
}
nav ul li a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  width: auto;
}
/*--------------- Login page -----------------*/
input[type="text"] {
  width: 25%;
  outline: none;
  font-size: 15px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 25px;
  margin-bottom: 15px;
}
#loginContainer,
#signUpContainer {
  text-align: center;
}
.Log {
  position: relative;
  text-align: center;
  border: 2px solid black;
  width: 45%;
  margin: auto;
  background-color: #02b4fa;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
}
.sizefored {
  font-size: 15px;
}
/* label {
  margin-left: -19.5%;
} */

body {
  margin: 0;
}
/*----------------- index page ----------------*/
img {
  padding: 5px;
  width: 90%;
}
h1 {
  text-align: center;
}
/*--------------- search people page ----------------*/
.topnav {
  text-align: center;
}
/*---------------- sign up page -------------------*/
input[name="email"],
input[name="secondEmail"] {
  width: 25%;
  outline: none;
  font-size: 15px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 25px;
  margin-bottom: 15px;
}
input[name="dateOfBirth"] {
  width: 13%;
  outline: none;
  font-size: 15px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 25px;
}
/*---------- home page slideshow/ home page -----------------*/
.slideshow {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
/* .ic {
  margin-left: auto;
  padding-right: 25px;
  padding-top: 4px;
}
.fa-user-times {
  color: #000000;
}
.fa-user-circle {
  color: #000000;
  padding-right: 25px;
}
.fa-comments-o {
  color: #000000;
  padding-right: 25px;
} */
/*----------- sign up process 1 -----------------*/
#signUpprocess {
  text-align: center;
}
.mentor-quest1,
.mentor-quest2 {
  padding: 5px;
  margin-left: 100px;
}
textarea {
  resize: none;
}
.proof {
  float: right;
  margin-right: 350px;
  margin-top: -170px;
}
.Mentor-Done {
  /* margin-left: 500px;
  margin-top: 30px; */
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 90%;
}
.Text-here {
  width: 100%;
}
.Next {
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 49%;
}
.ask-ment2 {
  float: right;
  margin-right: 20px;
  margin-top: -210px;
}
.ask-mentor {
  margin-left: 20px;
}
.email-men {
  text-align: center;
  margin-top: 10px;
}
input[name="mail"] {
  width: 20%;
}
.configure {
  margin-top: 20px;
  font-size: 20px;
}
.checkb {
  margin-top: 10px;
}
/*---------Profile Page---------*/
#profilepicture {
  display: block;
  height: 250px;
  width: 250px;
}
#pc1 {
  text-align: center;
}

#list1 {
  list-style-type: none;
  padding-left: 0%;
}
/*------------ home page --------*/
.post-conta {
  width: 50%;
  display: block
}
.post-conta {
  background: white;
  color: #323232;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 50%;
}
/*------------ home page --------*/
.floatRight {
  text-align: right;
}
.floatLeft {
  text-align: left;
}
.post-input-container{
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 25%;
}
.textho{
  border: 0;
  outline: 0;
  width: 100%;
}
