header {
  /* display: flex; */
  background-color: #c8dbe2;
}
body {
  background-color: #e9eff1;
}
footer {
  background-color: #c8dbe2;
  padding: 10px 23px;
  color: #000;
  text-align: center;
  font-style: italic;
  /* margin: 20px 10px 10px 0; */
}
/* Place Holder*/
/*----------- index page -------------*/
img {
  width: 25%;
  padding: 5px;
}
nav ul li {
  border: none;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding: 3px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li:last-child {
  border-bottom: none;
}
/* nav {
  background-color: #b1c7da;
} */
h1 {
  text-align: center;
}
/*------------------ login page ---------------------*/
input[type="text"] {
  width: 100%;
  outline: none;
  font-size: 15px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 25px;
  margin-bottom: 15px;
}
input[type="submit"] {
  background-color: grey;
  color: white;
  cursor: pointer;
  text-align: center;
  border: 2px solid black;
  width: 65%;
  margin: auto;
  font-weight: bolder;
  font-size: 25px;
  cursor: pointer;
  display: block;
  padding-right: 20px;
  text-decoration: none;
  margin-top: 20px;
}
#loginContainer,
#signUpContainer {
  text-align: center;
}
.Log {
  position: relative;
  text-align: center;
  border: 2px solid black;
  width: 45%;
  margin: auto;
  background-color: #02b4fa;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
}
/*--------------- search people page ----------------*/
.topnav {
  text-align: center;
}
/*----------------- sign up page --------------------*/
input[name="email"],
input[name="secondEmail"] {
  width: 100%;
  outline: none;
  font-size: 15px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 25px;
  margin-bottom: 15px;
}
.slideshow {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.ic {
  position: relative;
  top: -300px;
  margin-left: 220px;
  padding-right: 10px;
}
.fa-user-circle {
  color: #000000;
  padding-right: 10px;
}
.fa-comments-o {
  color: #000000;
  padding-right: 10px;
}
/*--------------------- sign process -------------------*/
h2 {
  text-align: center;
}
textarea {
  resize: none;
}
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
.Next {
=======
.Next{
>>>>>>> Stashed changes
  display: inline-block;
  font-size: 20px;
  position: absolute;
  left: 40%;
}
>>>>>>> 9e6b038f2067db09fa3db7e0160e5df00536bc16
label {
  text-align: center;
}
