header {
  /* display: flex; */
  /*#c8dbe2*/
  background-color: #0f2557;
}
body {
  background-color: #0f2557;
}
footer {
  background-color: #0f2557;
  padding: 10px 23px;
  color: #000;
  text-align: center;
  font-style: italic;
  /* margin: 20px 10px 10px 0; */
}
/* Place Holder*/
/*----------- index page -------------*/
img {
  width: 25%;
  padding: 5px;
}
nav ul li {
  border: none;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding: 3px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  margin: 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li:last-child {
  border-bottom: none;
}
/* nav {
  background-color: #b1c7da;
} */
h1 {
  text-align: center;
}
/*------------------ login page ---------------------*/
input[type="text"] {
  width: 100%;
  outline: none;
  font-size: 15px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 25px;
  margin-bottom: 15px;
}
#loginContainer,
#signUpContainer {
  text-align: center;
}
.Log {
  position: relative;
  text-align: center;
  border: 2px solid black;
  width: 45%;
  margin: auto;
  background-color: #0f2557;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
}
/*--------------- search people page ----------------*/
.topnav {
  text-align: center;
}
/*----------------- sign up page --------------------*/
input[name="email"],
input[name="secondEmail"] {
  width: 100%;
  outline: none;
  font-size: 15px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 25px;
  margin-bottom: 15px;
}
.slideshow {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.ic {
  position: relative;
  top: -300px;
  margin-left: 220px;
  padding-right: 10px;
}
.fa-user-circle {
  color: #000000;
  padding-right: 10px;
}
.fa-comments-o {
  color: #000000;
  padding-right: 10px;
}
.configure{
  top: 15px;
  position: relative;
  margin-left: 115px;
  padding-right: 10px;
  width: 150px;
  background-color: #0f2557;

}
.ask-mentor{
  margin-bottom: 25px;
  padding-left: 25px;
}
.ask-ment2{
margin-bottom: 25px;
padding-left: 25px;

}
.mails{
  margin-left: 80px;
  margin-bottom: 100px;
}
.mailbox{
  margin-top: 5px;
  margin-left: 115px;
}

.checkb{
  margin-top: 30px;
  margin-left: 115px;
}
/*--------------------- sign process -------------------*/
h2 {
  text-align: center;
}
textarea {
  resize: none;
}
label{
  text-align: center;
}
/*-------------- profile build page -------------------------*/
